<h1>Signup!</h1>

<%= form_for @user, url: '/users' do |f| %>
  <table>
     <tr>
      <td>First Name:</td>
      <td><%= f.text_field :first_name %></td>
      <td><%= @user.errors[:first_name].join(', ') if @user.errors[:first_name].any? %></td>
    </tr>
     <tr>
      <td>Last Name:</td>
      <td><%= f.text_field :last_name %></td>
      <td><%= @user.errors[:last_name].join(', ') if @user.errors[:last_name].any? %></td>
    </tr>
     <tr>
      <td>Email:</td>
      <td><%= f.text_field :email %></td>
      <td><%= @user.errors[:email].join(', ') if @user.errors[:email].any? %></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><%= f.password_field :password %></td>
      <td><%= @user.errors[:password].first if @user.errors[:password].any? %></td>
    </tr>
    <tr>
      <td>Password Confirmation:</td>
      <td><%= f.password_field :password_confirmation %></td>
      <td><%= @user.errors[:password_confirmation].first if @user.errors[:password_confirmation].any? %></td>
    </tr>
  </table>
  <%= f.submit "Submit" %>
<% end %>